In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import math

Collecting plotly
  Downloading plotly-5.12.0-py2.py3-none-any.whl (15.2 MB)
     ---------------------------------------- 15.2/15.2 MB 3.7 MB/s eta 0:00:00
Collecting tenacity>=6.2.0
  Downloading tenacity-8.1.0-py3-none-any.whl (23 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.12.0 tenacity-8.1.0

In [7]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\chordiyg\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pymysql

# Connect to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='Mysql@27',
    db='new_db',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

In [13]:
connection

In [16]:
pd.read_sql_query("""select * from location_temp where location_id='loc0' """,connection,parse_dates=True)

C:\Users\chordiyg\AppData\Local\Temp\ipykernel_15648\268345190.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""select * from location_temp where location_id='loc0' """,connection,parse_dates=True)

              event_date location_id  temp_celcius
0    03/04/2019 19:48:06        loc0            29
1    03/04/2019 19:53:06        loc0            27
2    03/04/2019 19:58:06        loc0            28
3    03/04/2019 20:03:06        loc0            30
4    03/04/2019 20:08:06        loc0            27
..                   ...         ...           ...
995  03/08/2019 06:43:06        loc0            29
996  03/08/2019 06:48:06        loc0            27
997  03/08/2019 06:53:06        loc0            27
998  03/08/2019 06:58:06        loc0            27
999  03/08/2019 07:03:06        loc0            29

[1000 rows x 3 columns]

In [17]:
df=pd.read_sql("""select * from location_temp""",connection,parse_dates=True)

C:\Users\chordiyg\AppData\Local\Temp\ipykernel_15648\4150785697.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql("""select * from location_temp""",connection,parse_dates=True)

In [18]:
df

                event_date location_id  temp_celcius
0      03/04/2019 19:48:06        loc0            29
1      03/04/2019 19:53:06        loc0            27
2      03/04/2019 19:58:06        loc0            28
3      03/04/2019 20:03:06        loc0            30
4      03/04/2019 20:08:06        loc0            27
...                    ...         ...           ...
30249  03/05/2019 16:33:11       loc30            28
30250  03/05/2019 16:38:11       loc30            29
30251  03/05/2019 16:43:11       loc30            33
30252  03/05/2019 16:48:11       loc30            33
30253  03/05/2019 16:53:11       loc30            29

[30254 rows x 3 columns]

In [19]:
cancer_data=pymysql.connect(
    host='localhost',
    user='root',
    password='Mysql@27',
    db='breast_cancer',
    
)

In [20]:
cancer_data

In [21]:
df=pd.read_sql_query(""" select * from Breast_cancer_data """,cancer_data,parse_dates=True)

C:\Users\chordiyg\AppData\Local\Temp\ipykernel_15648\860795590.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(""" select * from Breast_cancer_data """,cancer_data,parse_dates=True)

In [22]:
df

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0
...,...,...,...,...,...,...
302,20.09,23.86,134.70,1247.0,0.10800,0
303,10.49,18.61,66.86,334.3,0.10680,1
304,11.46,18.16,73.59,403.1,0.08853,1
305,11.60,24.49,74.23,417.2,0.07474,1
306,13.20,15.82,84.07,537.3,0.08511,1

In [23]:
df.isnull().sum()

mean_radius        0
mean_texture       0
mean_perimeter     0
mean_area          0
mean_smoothness    0
diagnosis          0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mean_radius      307 non-null    float64
 1   mean_texture     307 non-null    float64
 2   mean_perimeter   307 non-null    float64
 3   mean_area        307 non-null    float64
 4   mean_smoothness  307 non-null    float64
 5   diagnosis        307 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 14.5 KB

In [25]:
df.describe()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
count,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,14.435557,19.334495,94.197557,683.211726,0.097904,0.517915
std,3.553310,4.259492,24.522756,354.895998,0.013854,0.500495
min,6.981000,9.710000,43.790000,143.500000,0.062510,0.000000
25%,11.845000,16.335000,76.365000,432.450000,0.088225,0.000000
50%,13.640000,19.040000,88.060000,575.300000,0.097400,1.000000
75%,16.760000,21.855000,109.850000,883.250000,0.106600,1.000000
max,28.110000,39.280000,188.500000,2499.000000,0.144700,1.000000

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report
lr=LogisticRegression()

In [38]:
x=df.iloc[:,:5]
y=df[['diagnosis']]

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [67]:
model=lr.fit(x_train,y_train)

C:\Users\chordiyg\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\chordiyg\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [68]:
y_pred=lr.predict(x_test)

In [69]:
acc=accuracy_score(y_test,y_pred)

In [70]:
acc

0.8709677419354839

In [71]:
cal=classification_report(y_test,y_pred)

In [72]:
print(cal)

              precision    recall  f1-score   support

           0       0.84      0.90      0.87        29
           1       0.90      0.85      0.88        33

    accuracy                           0.87        62
   macro avg       0.87      0.87      0.87        62
weighted avg       0.87      0.87      0.87        62

In [73]:
import pickle

In [74]:
with open ('model.pkl','wb') as file:
    s=pickle.dump(model,file)